<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Транспортные средства</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 align="center">Справочник автотранспортной техники</h1>
<table border="1" align="center">
    <thead>
    <tr>
        <th>Марка</th>
        <th>Модель</th>
        <th>Категория</th>
        <th>Государсвенный номер</th>
        <th>Тип</th>
        <th>Год выпуска</th>
        <th>Наличие прицепа</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicle : ${vehicleList}">
        <td><span th:text="${vehicle.brand}"></span></td>
        <td><span th:text="${vehicle.model}"></span></td>
        <td><span th:text="${vehicle.category}"></span></td>
        <td><span th:text="${vehicle.licenseNumber}"></span></td>
        <td><span th:text="${vehicle.type}"></span></td>
        <td><span th:text="${vehicle.releaseYear}"></span></td>
        <td>
            <span th:if="${vehicle.hasTrailer}" th:text="'имеется'"></span>
            <span th:unless="${vehicle.hasTrailer}" th:text="'не имеется'"></span>
        </td>
        <td><a th:href="@{/vehicles/{id}/edit(id = ${vehicle.id})}">Изменить</a></td>
    </tr>
    </tbody>
</table>
<form th:method="GET" th:action="@{/vehicles}">
    <label for="brand">Марка: </label>
    <input type="text" id="brand" name="brand">
    <br>
    <label for="model">Модель: </label>
    <input type="text" id="model" name="model">
    <br>
    <label for="category">Категория: </label>
    <input type="text" id="category" name="category">
    <br>
    <label for="licenseNumber">Государсвенный номер: </label>
    <input type="text" id="licenseNumber" name="licenseNumber">
    <br>
    <label for="releaseYear">Год выпуска: </label>
    <input type="number" id="releaseYear" name="releaseYear">
    <br>
    <button type="submit">Поиск</button>
</form>
<a href="/vehicles/add"> Добавить транспортное средство </a>
</body>
</html>