<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Транспортные средства</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table border="1" align="center">
    <thead>
    <tr>
        <th>Марка</th>
        <th>Модель</th>
        <th>Категория</th>
        <th>Государсвенный номер</th>
        <th>Тип</th>
        <th>Год выпуска</th>
        <th>Наличие прицепа</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vehicle : ${vehicleList}">
        <td><span th:text="${vehicle.brand}">Марка</span></td>
        <td><span th:text="${vehicle.model}">Модель</span></td>
        <td><span th:text="${vehicle.category}">Категория</span></td>
        <td><span th:text="${vehicle.licenseNumber}">Государсвенный номер</span></td>
        <td><span th:text="${vehicle.type}">Тип</span></td>
        <td><span th:text="${vehicle.releaseYear}">Год выпуска</span></td>
        <td>
            <span th:if="${vehicle.hasTrailer}" th:text="'имеется'">Наличие прицепа</span>
            <span th:unless="${vehicle.hasTrailer}" th:text="'не имеется'">Наличие прицепа</span>
        </td>
    </tr>
    </tbody>
</table>
<a href="/vehicles/add"> Добавить транспортное средство </a>
</body>
</html>